.App {
  text-align: center;
  position: relative; /* 相対位置を設定 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-moving {
  animation: move 5s infinite linear; /* 左右に動くアニメーション */
  position: absolute; /* 絶対位置を設定 */
  top: 50%; /* 垂直中央に配置 */
  transform: translateY(-50%); /* 垂直中央に調整 */
}

.App-square {
  height: 40vmin; /* 2つ目の画像のサイズ */
  position: absolute; /* 絶対位置を設定 */
  animation: moveSquare 10s infinite linear; /* 四角で移動するアニメーション */
}

.App-header {
  background-color: white; /* 背景を白に変更 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 130, 174); /* 文字色も調整 */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* フォントをComic Sansに変更 */
}

.App-link {
  color: #f093a2;
}

@keyframes move {
  0% {
    left: 0; /* 左端 */
  }
  50% {
    left: calc(100vw - 40vmin); /* 右端 */
  }
  100% {
    left: 0; /* 左端に戻る */
  }
}

@keyframes moveSquare {
  0% {
    top: 0;
    left: 0; /* 左上 */
  }
  25% {
    top: 0;
    left: calc(100vw - 40vmin); /* 右上 */
  }
  50% {
    top: calc(100vh - 40vmin); /* 右下 */
    left: calc(100vw - 40vmin);
  }
  75% {
    top: calc(100vh - 40vmin);
    left: 0; /* 左下 */
  }
  100% {
    top: 0; /* 左上に戻る */
    left: 0;
  }
}
