body {
  background-color: white; /* 白ベースの背景 */
  font-family: 'Comic Sans MS', sans-serif; /* フォントはComic Sans */
}

p {
  font-size: 32pt; /* pタグのフォントサイズは32pt */
}

/* imgのアニメーションはApp.cssで管理されるため、削除 */
